<h1>Defered Views</h1>
<defer-main></defer-main>
<directives-component></directives-component>
<app-decorators></app-decorators>
<a [routerLink]="['/modal']">modal page here</a>
<a [routerLink]="['/dropdown']">dropdown page here</a>
<a [routerLink]="['/protected']">protected page here</a>
<a [routerLink]="['/pagination']">pagination page here</a>
<a [routerLink]="['/star']">star rating page here</a>
<a [routerLink]="['/computed-signals']">Table page here</a>
<a [routerLink]="['/intersection']">Scroll animation page here</a>
<a [routerLink]="['/progress']">Progress page here</a>
<a [routerLink]="['/resource-manager/schedule']">RM.IO here</a>
<a [routerLink]="['/ads']">ADS here</a>
<a [routerLink]="['/out-of-root']">Out of root here</a>
<a [routerLink]="['/blur-load']">Blur load here</a>
<a [routerLink]="['/table']">Table here</a>
<a [routerLink]="['']" fragment="section">Nav to section</a>
<button (click)="navtosection()">Button to section</button>

<section id="section" style="margin-top: 100rem">Section here</section>
