<h1>Defered Views</h1>
<defer-main></defer-main>
<directives-component></directives-component>
<a href="/modal">modal page here</a>
<a href="/dropdown">dropdown page here</a>
<a href="/pagination">pagination page here</a>
<a href="/star">star rating page here</a>
<a href="/computed-signals">Table page here</a>
<a href="/intersection">Scroll animation page here</a>
<a [routerLink]="['/progress']">Progress page here</a>
<a [routerLink]="['/resource-manager/schedule']">RM.IO here</a>
<a [routerLink]="['/ads']">ADS here</a>
