<p>Home works</p>

<amalitech-select
  (amalitechChange)="handleChange($event)"
  #ss
  label="Choose an option"
  multiple
>
  <amalitech-select-option value="1">One</amalitech-select-option>

  <amalitech-select-option value="2">Two</amalitech-select-option>

  <amalitech-select-option value="3">Three</amalitech-select-option>
</amalitech-select>
<amalitech-button #btn>Click me</amalitech-button>

<button (click)="toggleSize(ss)">Suii</button>

<amalitech-date-picker #date></amalitech-date-picker>
