.dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  z-index: 15;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background: transparent;
}
