<div class="menu-container" clickOutside (clickOutside)="clickedOutside()">
    <div class="menu-toggler" (click)="toggleMenu()">Toggle menu</div>
    @if (isMenuOpen) {
    <div class="menu">
        <div class="menu-item">News</div>
        <div class="menu-item">Contact</div>
        <div class="menu-item">About</div>
    </div>
    }
</div>

<button type="button" (click)="openDropdown($event, dropdownTemplate)">click here to open dropdown</button>
<ng-template #dropdownTemplate>
    <ul>
        <li>first item</li>
        <li>second item</li>
        <li>third item</li>
    </ul>
</ng-template>